html, body {
  width: 50%;
  margin: 0 auto;
  font-family: Inconsolata, monospace;
  color: magenta;
  color: cyan;
}

.container{
  width: 360px;
}

#inputField{
  width: 300px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
  font-size: 30px;
}

.to-dos{
  margin-top: 25px;
}

.paragraph-styling {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}
